.App {
  margin: 2rem auto;
  width: 60%;
  text-align: center;
}
.links {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.active-link {
  background-color: #f3f3f3;
}
.link {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
